<app-header></app-header>
<div class="container">
  <ng-content></ng-content>
  <div class="jumbotron">
    <div class="row">
      <div class="col-8 offset-2">
        <form #myForm="ngForm" novalidate>
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]='date' (dateChanged)="onDateChanged($event)"
            required>
          </my-date-picker>
        </form>
      </div>
    </div>
    <div *ngIf="showFilters">
      <div class="row">
        <div class="col-4 offset-3">
          <div class="form-group">
            <ngb-timepicker [formControl]="startCtrl" [(ngModel)]="startingTime" required></ngb-timepicker>
            <div class="small form-text text-danger" *ngIf="!startCtrl.valid">
              <div *ngIf="startCtrl.errors['required']" class="small form-text text-success">Starting Time</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <ngb-timepicker [formControl]="endCtrl" [(ngModel)]="endingTime" required></ngb-timepicker>
            <div class="small form-text text-danger" *ngIf="!endCtrl.valid">
              <div *ngIf="endCtrl.errors['required']" class="small form-text text-success">Ending Time</div>
              <div *ngIf="endCtrl.errors['invalidTime']">Ending Time Invalid</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-sm-2 offset-2">
          <div class="input-group-prepend">
            <button class="btn btn-primary" type="button" disabled>Capacity :</button>
          </div>
          <input type="number" class="form-control" [(ngModel)]='capacity'>
        </div>
        <div class="col-sm-auto offset-2 equipmentClass">
          <p>Equipements :</p>
        </div>
        <div class="col-sm-auto equipmentClass">
          <div class="form-check-inline" *ngFor="let equipment of filterEquipements">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]='equipment.checked'>{{ equipment.name }}
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="showButton">
        <div class="col-8 offset-2">
          <button type="button" class="btn btn-dark btn-lg btn-block" (click)="getRooms()">View rooms</button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="timer">
    <p class="spinnerText">Loading...</p>
  </ngx-spinner>
  <div class="row">
    <div class="col-sm-6" *ngFor="let room of availableRooms">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{room.name}}</h5>
          <p class="card-text">Description: {{room.description}}</p>
          <p class="card-text" *ngIf="room.capacity">Capacity: {{room.capacity}}</p>
          <p class="card-text" *ngIf="room.equipements">Equipements: </p>
          <p class="card-text" *ngFor="let equipement of room.equipements">{{equipement.name}}</p>
          <a class="btn btn-primary" (click)="bookRoom(room._id)">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>
